Source: zaapt
Section: perl
Priority: optional
Maintainer: Andrew Chilton <andychilton@gmail.com>
Uploaders: Andrew Chilton <andychilton@gmail.com>
Standards-Version: 3.6.1
Build-Depends-Indep: debhelper (>= 4.1), perl

Package: zaapt
Section: perl
Priority: optional
Architecture: all
Depends: ${perl:Depends}, 
Description: content framework for websites, specifically Mason ones
 Managing the content of a website is the hardest and more laborious
 part. Therefore, this package is designed to leverage the power of already
 made content modules and let you get on with the creative part. This comes
 with no CSS or design, though it does come with example HTML (in Mason) which
 can be used or overridden. It is very clean and therefore is easy to
 style. This approach also allows you to get on and use whatever session
 management process you want since this is not provided.
