%# --- ARGS -------------------------------------------------------------------
<%args>
    $zaapt
    $my_perms
    $b_id
</%args>
%# --- INIT -------------------------------------------------------------------
<%init>
    my $model = $zaapt->get_model('Blog');
    my $blog = $model->sel_blog({ b_id => $b_id });
    unless ( defined $blog ) {
        $m->redirect('edit-b-list.html');
        return;
    }
    $m->redirect('edit-b-list.html') unless exists $my_perms->{$blog->{_view}};
    my $comments = $model->sel_comments_for_blog({ b_id => $b_id, c_status => 'new' });
</%init>
%# --- HTML -------------------------------------------------------------------
<h1>Audit Comments</h1>

<p><a href="edit-b-list.html">&laquo; Back to Blog List</a></p>

<h2>Blog: <% $blog->{b_name} | h %> - '<% $blog->{b_title} | h %>'</h2>

% if ( !$blog->{b_comment} ) {
<p>Currently, this blog does not allow comments.</p>
%     return;
% }

<&| /zaapt/common/admin/table-edit.mhtml, title => 'Comment' &>

% my $row = 1;
% foreach my $comment ( @$comments ) {
        <tr class="r<% $row=1-$row %>">
            <td>
                <% $comment->{c_name} | h %> (<% $comment->{e_inserted} | h %>)<br />
                <% $comment->{e_comments} || '0' | h %> comments, <% $comment->{e_trackbacks} || '0' | h %> trackbacks<br />
            </td>
            <td>
%         if ( exists $my_perms->{$blog->{_edit}} ) {
                * <a href="edit-e-edit.html?e_id=<% $comment->{e_id} | u %>">Edit Entry</a><br />
                * <a href="edit-l-edit.html?e_id=<% $comment->{e_id} | u %>">Edit Labels</a><br />
%             if ( exists $my_perms->{$blog->{_admin}} ) {
                * <a href="edit-e-del.html?e_id=<% $comment->{e_id} | u %>">Delete</a><br />
%             }
%         } else {
                -
%         }
            </td>
        </tr>
% }

</&>

%# --- END --------------------------------------------------------------------
