%# ----------------------------------------------------------------------------
<%args>
    $zaapt
    $b_name
</%args>
%# ----------------------------------------------------------------------------
<%init>
    my $model = $zaapt->get_model('Blog');
    my $blog = $model->sel_blog_using_name({ b_name => $b_name });
    unless ( defined $blog ) {
        die "Blog '$b_name' not found.";
        return;
    }
    my $entries = $model->sel_entry_all_in({ b_id => $blog->{b_id} });
</%init>
%# ----------------------------------------------------------------------------
<h1>All Entries in '<% $blog->{b_title} | h %>'</h1>

<p>Found <% scalar @$entries | h %> <% scalar @$entries == 1 ? 'entry' : 'entries' %> in this blog.</p>

% if ( @$entries ) {
%     foreach my $entry ( @$entries ) {
<ul>
    <li><a href="<% $entry->{e_name} %>.html"><% $entry->{e_title} | h %></a></li>
</ul>
%     }
% } else {
<p>Currently, there are no entries in this blog.</p>
% }

%# ----------------------------------------------------------------------------
